<div class="container">
  <h1>All Our Flats</h1>
  <% if params['query'].present? %>
    <p><%= "You searched for #{params['query']}. We found #{@flats.count} #{@flats.count == 1 ? 'flat' : 'flats'} out of #{Flat.count} on our website." %></p>
  <% else %>
    <p><%= "All #{Flat.count} flats." %></p>
  <% end %>
  <div class="row">
  <% @flats.each do |flat| %>
    <div class="col-auto mb-3">
      <div class="card" style="width: 18rem;">
        <img src="<%= flat.picture_url %>" class="card-img-top" alt="<%= flat.name %>">
        <div class="card-body">
          <h5 class="card-title"><%= flat.name %></h5>
          <p class="card-text"><%= flat.address %></p>
          <div class="row">
            <div class= "col-md-3">
              <i class="material-icons">people</i>
            </div>
            <div class= "col-md-3">
              <p class="card-text"><%= flat.number_of_guests %></p>
            </div>
            <div class= "col-md-3">
              <i class="material-icons">euro_symbo</i>
            </div>
            <div class= "col-md-3">
              <p class="card-text"><%= flat.price_per_night %></p>
            </div>
          </div>
          <div class="text-center">
            <%= link_to("More Info", flat_path(flat), class: "btn btn-primary mt-3") %> 
          </div>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>
